h1 {
  color: #333333; /* 深灰色 */
}

h2 {
  color: #555555; /* 中灰色 */
}

h3 {
  color: #777777; /* 浅灰色 */
}

h4 {
  color: #999999; /* 更浅的灰色 */
}

h5 {
  color: #bbbbbb; /* 非常浅的灰色 */
}

h6 {
  color: #dddddd; /* 接近白色的灰色 */
}
